/*
COLORS:

LIGHT GREEN: #7ed56f
MEDIUM GREEN: #55c57a
DARK GREEN: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(#7ed56ff5, #28b485f5), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* sometimes the animation moves up so this fixes it */
    backface-visibility: hidden;
    margin-bottom: 60px;
}
.heading-primary-main {
    display: block;
    font-size: 39px;
    font-weight: 400;
    letter-spacing: 25px;

    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 15px;

    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}