body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* sometimes the animation moves up so this fixes it */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 3.9rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
    
        animation-name: moveToRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
    
        animation-name: moveToLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewX(2deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}