.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
        background-size: cover;

    transform: skewY(-6deg);
    margin-top: -10rem;

    //all (ie. *) direct child of current class
    & > * {
        transform: skewY(6deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}